.container {
    margin: 35px;
    text-align: center;
}

.title {
    font-family: 'Parisienne', cursive;
    font-size: 55px;
    font-weight: 300;
    color:#7b7b7b;
}

.text {
  margin: 20px 40px;
  padding: 10px;
}

.info b {
    font-size: 24px;
    color: #1d7878;
}

@media (max-width: 950px ) {
    .title {
       font-size: 52px;
    }
}

@media (max-width: 500px) {
    .container {
        margin: 20px 10px;
        padding: 0 10px;
        border-top: 1px solid #8298A1;
    }
    .title {
        font-size: 45px;
        margin-bottom: 10px;
    }
    .info b{
        font-size: 20.5px;
    }
    .text {
        margin: 10px 5px;
        padding: 10px;
      }
}

