.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #AAAAAA;
    font-weight: 300;
}

.title {
    font-family: 'Parisienne', cursive;
    color: #1c7878;
    margin: 30px 0;
    font-size: 40px;
    font-weight: 500;
}

.container p {
    font-size: 18px;
}

.cardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8297A1;
}


@media (max-width: 500px) {
    .title {
        font-size: 38px;
    }
    .container p {
        font-size: 16px;
    }
    .paragraph {
        padding: 10px;
    }
    .cardsContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background-color: #8297A1;
    }
}