.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    padding: 0 5px;
}

.title {
    font-family: 'Parisienne', cursive;
    font-size: 45px;
    font-weight: 300;
    margin: 0;
    
}

.photo{
    width: 30%;
    border-radius: 10px;
    margin: 0 7px ;
}

.icon {
    align-self: start;
    margin: 25px 0;
}
.hour{
    font-family: 'Dancing Script', cursive;
}

a {
    text-decoration: none;
}

.btninvisible{
    visibility: hidden;
}

@media (max-width: 1200px ) {
    .icon {
        width: 90px;
    }
}

@media (max-width: 950px ) {
    .photo {
        width: 35%;
    }
}

@media (max-width: 850px ) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo {
        width: 40%;
        margin: 35px 0;
    }
    .btninvisible{
        display: none;
    }
}


@media (max-width: 850px ) {
    .photo {
        width: 55%;
    }
}

@media (max-width: 500px) {
    .container {
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
        padding: 0 10px;
    }
    .title {
        font-size: 45px;
    }

    .icon {
        align-self: start;
        width: 95px;
        margin: 0 0 20px;
    }

    .photo {
        width: 85%;
        /* margin: 35px 0; */
    }
   
    .btninvisible{
        visibility:visible;
    }
    p {
        margin: 10px;
    }
    .btnVisible {
        display: none;
    }
}


