.container {
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items:flex-start;
    background-image: url('../../assets/photos/portada.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: 25px;
}
.textContainer {
    margin-top: 50px;
    background-color: rgba(232, 231, 231, 0.146);
    padding: 15px 30px;
    box-shadow: 6px 13px 29px -17px rgba(0,0,0,0.65);
    -webkit-box-shadow: 6px 13px 29px -17px rgba(0,0,0,0.65);
    -moz-box-shadow: 6px 13px 29px -17px rgba(0,0,0,0.65);
}

.text {
    font-size: 30px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
