.container {
    display: flex;
    justify-content: space-evenly;
}
.img {
    padding: 20px 0;
    width: 23%;
    height: 23%;
}

@media (max-width: 850px ) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img {
        width: 60%;
    }
}

@media(max-width: 695px) {
    .img {
        width: 70%;
    }
}

@media (max-width: 500px) {
    /* .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    .img {
        width: 100%;
    }
}

