.container {
    display: flex;
    min-height: 500px;
    margin: 40px 30px;
    justify-content: center;
    align-items:flex-start;
    background-image: url('../../assets/Invitacion/footerbackg.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.container h2 {
    font-family: 'Parisienne', cursive;
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
    padding: 0 5px;
}

@media (max-width: 500px) {
    .container {
        margin: 30px 15px;
        padding: 3px;
    }
    .container h2 {
        font-family: 'Parisienne', cursive;
        font-size: 32px;
        margin: 15px;
        font-weight: 300;
        color: #ffffff;
    }
}

@media (max-width: 342px ) {
    .container h2 {
        font-size: 30px;
    }
}